<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 이름은 SQL문을 찾을 때 사용하는 그룹명이다.
          따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면 유지보수할 때 알아보기 쉽다. 
          단순히 알아보기 쉬울 뿐만 아니라 스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. -->
<mapper namespace="bitcamp.java106.pms.dao.TeamMemberDao">
  <!-- SQL문 id를 설정할 때 SQL문을 사용하는 메서드 이름과 같게 하면 유지보수 할 때 알아보기 쉽다.
  
   -->
  <select id="selectList" resultType="string" parameterType="string">
    select mid from pms_team_member 
    where tnm=#{value}
    <!-- limit #{startIndex}, #{pageSize} -->
  </select>
  
  <insert id="insert" parameterType="map">
    insert into pms_team_member(tnm,mid) 
    values(#{teamName},#{memberId})
  </insert>
  
  <delete id="delete" parameterType="map">
  delete from pms_team_member 
  where tnm=#{teamName} and mid=#{memberId}
  </delete>
  
  <select id="isExist" parameterType="map" resultType="int">
  select count(*) 
  from pms_team_member 
  where tnm=#{teamName} and mid=#{memberId}
  </select>
</mapper>







